html,body{
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: transparent;
}

#chessboard{
    box-shadow: 2px 2px 12px 0px #333;
    height: 100px;
    width: 100px;
}

#debug{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 120px;
    padding: 4px;
    border: 1px dashed black;
}

#debug button{
    display: block;
    width: 100%;
    margin-top: 8px;
}

#overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 3;
}

.rank{
    font-weight: bold;
    font-size: 180%;
    font-family: monospace;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
}

.cg-wrap coords.ranks, .cg-wrap coords.files{
    font-size: 12px;
}